---
title: Welcome to OHSU Computation!
layout: splash
classes: wide
header:
  overlay_color: "#333"
  overlay_filter: "0.20"
  overlay_image: 
excerpt: "Unifying Computational Groups at OHSU"
intro:
  -  title: "About Us"
     excerpt: "OHSU Computation aims to be a complete resource for potential students and anyone else to understand the groups doing computation at OHSU.  Computational research is dispersed across a number of departments and centers: 
     "
events:
  - title: "Events"
    excerpt: "OHSU Computational Events aims to provide a unified event calendar for events at OHSU"
people:
  - title: "People"
    excerpt: "OHSU Computation consists of many groups, staff, faculty, and students."
programs:
  - title: "Educational Programs involving Computation"
    excerpt: "OHSU offers a wide variety of graduate programs for students interested in computation: "

---
{% include feature_row %}

<a name="about"></a>
{% include feature_row id="intro" type = "center" %}

<div class = "feature__wrapper">
 <a href="https://www.ohsu.edu/xd/education/schools/school-of-medicine/departments/basic-science-departments/biomedical-engineering/research/computational-biology.cfm" class="btn btn--info">Biomedical Engineering Department</a>  
 <a href="https://ohsu-psu-sph.org/biostatistics/" class="btn btn--info">Biostatistics Department</a>
 <a href="https://www.ohsu.edu/xd/research/centers-institutes/center-for-spoken-language-understanding/" class="btn btn--info">Center for Spoken Language Understanding</a> 
 <a href="https://www.ohsu.edu/xd/education/schools/school-of-medicine/departments/computational-biology/" class="btn btn--info">Computational Biology Program</a> 
 <a href="https://www.ohsu.edu/xd/education/schools/school-of-medicine/departments/clinical-departments/dmice/" class="btn btn--info">Department of Medical Informatics and Clinical Epidemiology</a>
 <br>
 <br>
</div>



<a name="people"></a>

{% include feature_row id= "people" type = "center" %}
{% assign sorted_people = site.people | sort: 'last_name' %}

<div class="grid__wrapper">
{% for person in sorted_people %}
  {% include people.html type = "grid" %}
{% endfor %}
</div>

<a name="events"></a>
{% include feature_row id="events" type = "center" %}

{% assign sorted_events = site.events | sort: 'date' %}
{% capture now_moment %}{{ "today" | date: '%s' }}{% endcapture %}

{% for event in sorted_events %}
    {% capture date %}{{ event.date | date: '%s' | plus: 0 }}{% endcapture %}
     {% if date > now_moment %}
      {% include events.html %}
      {% endif %}
{% endfor %}

