
{% assign include.type = "grid" %}
    {% if person.photo %}
    {% assign photo = person.photo %}
    {% else %}
    {% assign photo = "/assets/img/no-photo.jpg" %}
    {% endif %}

  
    <div class="element-item {{ person.department }} {{ person.research_interests | join: " " }} grid-item">
        <img src=
            "{{ photo }}"
          alt="{{ person.first_name}} {{person.last_name}}">    
    <h3 class="archive__item-title" itemprop="headline">
      {% if person.link and person.first_name and person.last_name %}
        <a href="{{ person.link }}">{{ person.first_name }} {{ person.last_name}}</a> 
      {% else %}
        <a href="{{ person.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>
    <em>{{ person.title }}, {{ person.department | join: ", "}}</em> <br>
    <b>Research Interests:</b> {{ person.research_interests | join: ", " }}<br>
  </div>