
{% assign include.type = "grid" %}
  
    <div class="element-item {{ person.department | join: " " }} {{ person.research_interests | join: " " }} grid-item">
        <a href="{{ person.link }}">  
          {% if person.github %}
          <img src="https://avatars.githubusercontent.com/{{ person.github }}?s=200" class="img-responsive img-circle" alt="">
          <h4>{{ person.first_name }} {{person.last_name}}</h4><br/>
          {% else %}
          <i class="fa fa-user"></i><br/>
          <h4>{{ person.first_name }} {{ person.last_name}}</h4>
          {% endif %}
        </a>
          <em>{{ person.title }}, {{ person.department | join: ", "}}</em> <br>
    <b>Research Interests:</b> {{ person.research_interests | join: ", " }}<br>
    </div>

