
<!-- card code and css from https://codepen.io/Masquetina/pen/dYYxeM/ -->
      <div id="card" class="card {{ person.last_name }} {{ person.department | join: " " }} {{ person.research_interests | join: " " }}">
          <div id="color"></div>
          <div id="profile">
              <!-- here’s the avatar -->
              {% if person.github %}
              <img class="block" src="https://avatars.githubusercontent.com/{{ person.github }}?s=200" alt="photo of {{person.github}}" width="100" height="100"/>
              {% else %}
              <img class="block" src="/assets/img/no-photo.jpg" >
              {% endif %}            
            <h1 class="card1">{{ person.first_name }} {{ person.last_name }}</h1>
            <div class="card2"><em>{{ person.title }}</em>, {{ person.department | join: ", "}}</div>
            <div class="icons">
                    {% if person.link %}
                    <a class="link" href="{{ person.link }}" target="_blank"><i class="fa fa-home fa-1x social"></i></a>
                    {% endif %}
                    {% if person.github %}
                    <a class="link" href="https://github.com/{{ person.github }}" target="_blank"><i class="fab fa-github fa-1x social"></i></a>
                    {% endif %}
                    {% if person.email %}
                    <a class="link" href="mailto:{{ person.email }}" target="_blank"><i class="far fa-envelope fa-1x social"></i></a>
                    {% endif %}
            </div>  
            <p class="card3">{% for tag in person.research_interests %}
                    {% assign counter = 0 %}
                    {% for r_item in site.data.research_interests %}
                       {% if tag == r_item.tag %}
                        {{r_item.name}} 
                        {% assign counter = counter | plus: 1 %}                                   
                        {% endif %}
                    {% endfor %}
                    {% if counter == 0 %}{{tag}}{% endif %}
                    {% if forloop.last == false %}|{% endif %}
                    {% endfor %}
                    </p> 
              
        </div>
        </div>